
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*:last-child{
    font-size: 15px;
}

main-block{
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: 30% 1fr;
}

main-column{
    display: flex;
    flex-direction: column;
    padding: 5%;
    overflow: auto;
}

main-column:first-child{
    background-color: #2b313d;
}

mini-header{
    font-weight: bold;
    color: #000000c4;
}

circle{
    width: 20px;
    height: 20px;
    margin: 1px 5px 1px 5px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
}

h3{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 3px solid #464e46;
    width: 3em;
    margin: 2em 0 0.5em;
}

h4{
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.photo{
    height: 10em;
    border-radius: 100%;
}

.f-i{
    filter: invert(1);
}

.mr-t-5{
    margin-top: 0.5em;
}

.d-f{
    display: flex;
}

.d-b{
    display: block;
}

.d-g{
    display: grid;
}

.g-t-c-2-50{
    grid-template-columns: 50% 50%;
}

.j-c-sb{
    justify-content: space-between;
}

.j-c-c{
    justify-content: center;
}

.a-i-c{
    align-items: center;
}

.f-i-80{
    filter: invert(80%);
}

.w-20{
    width: 20em;
}

.p-0-25{
    padding: 0 25em;
}

.p-i-2{
    padding-inline: 0 2em;
}

